* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  height: 90vh;
  width: 100vw;
  text-align: center;
  position: relative;
  font-family: "Shadows Into Light", cursive;
  color: rgb(216, 72, 96);
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
.navbar {
  width: 100vw;
  margin-top: 20px;
}

li:hover > a {
  background-color: blanchedalmond;
  font-size: larger;
  font-weight: bold;
}
.form {
  display: flex;
  text-align: center;
  margin-left: 200px;
}
#video  {
  text-align: center;
  border: pink solid 10px;
  ;
}
#pra1 {
  position: absolute;
  bottom: -600 px;
  right: 110px;
  font-size: 20px;
  justify-content: center;
  color: black;
  margin: 60px;
  background-color: black;
  opacity: 0.2;
}
#pra2 {
  text-align: center;
  font-weight: bold;
}

.galery img {
  border-radius: 50%;
  border: pink solid 6px;
  display: flex;
  width: 150px;
  height: 150px;
}
.galery {
  display: inline-block;
  flex-wrap: wrap;
  margin: 20px;
}
