* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  height: 90vh;
  width: 100vw;
  text-align: center;
  position: relative;
  font-family: "Shadows Into Light", cursive;
  color: black;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131__340.jpg");
}
.navbar {
  width: 100vw;
  margin-top: 20px;
}

li:hover > a {
  background-color: blanchedalmond;
  font-size: larger;
  font-weight: bold;
}
.form {
  display: flex;
  text-align: center;
  margin-left: 200px;
}
#video {
  text-align: center;
}
#pra1 {
  position: absolute;
  bottom: -600 px;
  right: 110px;
  font-size: 20px;
  justify-content: center;
  color: black;
  margin: 60px;
  background-color: black;
  opacity: 0.2;
}
#pra2 {
  text-align: center;
  font-weight: bold;
}

.galery img {
  border-radius: 50%;
  border: black solid 6px;
  display: flex;
  width: 150px;
  height: 150px;
}
.galery {
  display: inline-block;
  flex-wrap: wrap;
  margin: 20px;
}
