* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Shadows Into Light", cursive;
  height: 90vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/5619280/pexels-photo-5619280.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-attachment: fixed;
  background-size: cover;
  color: rgb(216, 72, 96);
}
.navbar {
  margin-top: 20px;
}



#video {
  text-align: center;
}

.malon {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.malon article {
  margin: 1%;
  width: 30%;
  height: 300px;
}

.Branches {
  width: 230px;
  height: 150px;
  transition-duration: 2s;
  border: pink solid 6px;
}

.Branches:hover {
  width: 270px;
  height: 180px;
}
#events {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
#tital {
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 30px;
  text-align: center;
}
#tital:hover {
  font-size: 57px;
  color: pink;
}
.happening img {
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 3px pink solid;
  transition-duration: 2s;
  animation-name: happening;
  margin-top: 250px;
 border: pink solid 6px;
}

.happening img:hover {
  width: 250px;
  height: 250px;
}

#form {
  margin-left: 200px;
  display: flex;
  text-align: center;
  height: 30vh;
}
.minform:hover {
  font-weight: bold;
}
@media screen and (max-width: 768) {
  #video {
    max-width: 40%;
  }
  .events {
    max-width: 10%;
  }
}
